<!DOCTYPE html>
<html>
  <head>
    <style>
        <link rel="stylesheet" type="text/css" href="style.css">
    </style>
  </head>
  <body>
   <div class = "logo">
    <img src = "/Users/Alex/ga4gh-ncbi-api/docs/images/logo.png" alt = "Logo" align="middle">
    </div>
    <div class = "Title">
      <h1>
      GA4GH - NCBI - API
      </h1>
    </div>
    
    <div class = "Instructions", style = font-size:20px; font-weight:bold;>
      <h3>Instructions</h3>
      <ul>
        <li>Please submit JSON requests with '/datasets/search' in the http URL.</li>
      </ul>
    </div>
    
    
    <div class = "Diagram">
    <form action="/Users/Alex/ga4gh-ncbi-api/docs/images/ga4gh-ncbi-api.png">
      <input type="submit" value="Go to diagram of API structure"/>
    </form>

    </div>
    


  </body>
</html>